<table class="table table-striped table-bordered tiny-text">
<tr>
	<th>Adult</th>
	<th>Address</th>
	<th>Phone</th>
	<th>Troop</th>
	<th>Troop Contact</th>
	<th>Dietary Restrictions</th>
	<th>CPR</th>
	<th>First Aid</th>
	<th>T-Shirt Size</th>
	<th>Helping With</th>
</tr>
<% Adult.all.order(:last_name).each { |x| %>
<tr>
	<td>
		<%= "#{x.first_name} #{x.last_name}.titleize" %>
	</td>
	<td>
		<%= "#{x.address}" %>
	</td>
	<td>
		<%= "#{x.phone}" %>
	</td>
	<td>
		<%= "#{x.troopnumber}" %>
	</td>
	<td>
		<%= "#{x.troopcontact}" %>
	</td>
	<td>
		<%= "#{x.dietary}" %>
	</td>
	<td>
		<%= "#{x.cpr ? "Yes" : "No"}" %>
	</td>
	<td>
		<%= "#{x.first_aid ? "Yes" : "No"}" %>
	</td>
	<td>
		<%= "#{x.tshirt.nil? ? '?' : x.tshirt.name}"%>
	</td>
	<td>
		<%= "#{x.sessions.first.name}" %>
	</td>
</tr>
<% } %>
</table>
