<table class="table table-striped table-bordered">
<tr>
	<% ["Girl", "Level", "Troop", "DOB", "Grade This Fall", "Parent's Cell", "Other Cell", "Dietary Restrictions",
		"Medications", "T-Shirt Size", "Schedule"].each { |caption| %>
	<th><%= caption.to_s %>
	<% } %>
</tr>
<% if admin_display %>
	<% collection_to_display = Girl.all.order(:last_name) %>
<% else %>
	<% collection_to_display = current_user.girls %>
<% end %>
<% collection_to_display.each { |x| %>
<tr>
	<td>
		<%= "#{x.first_name} #{x.last_name}" %>
	</td>
	<td>
		<%= "#{x.level.name}" %>
	</td>
	<td>
		<%= "#{x.troopnumber}" %>
	</td>
	<td>
		<%= "#{x.dob}" %>
	</td>
	<td>
		<%= "#{x.fallgrade}" %>
	</td>
	<td>
		<%= "#{x.parentcell}" %>
	</td>
	<td>
		<%= "#{x.othercell}" %>
	</td>
	<td>
		<%= "#{x.dietary}" %>
	</td>
	<td>
		<%= "#{x.medications ? "Yes" : "No"}" %>
	</td>
	<td>
		<%= "#{x.tshirt.nil? ? '?' : x.tshirt.name}"%>
	</td>
	<td>
		<% if x.level == Level.find_by(name:"Tenderheart") %>
			<strong>Tenderheart Activities Schedule</strong>
		<% else %>
			<%= "A: "%><strong><%= what_is_in_slot("A", x) %></strong><br>
			<%= "B: "%><strong><%= what_is_in_slot("B", x) %></strong><br>
			<%= "C: "%><strong><%= what_is_in_slot("C", x) %></strong><br>
			<%= "D: "%><strong><%= what_is_in_slot("D", x) %></strong><br>
			<em><%= x.horseback? ? "and Horseback Riding" : "" %></em>
		<% end %>
	</td>
	<% if !admin_display %>
	<td>
		<h4><%= link_to "Cancel Registration", girl_path(x), method: :delete, data: { confirm: "Are you certain you want to delete this girl?" }, class: "btn btn-danger" %></h4>
	<% end %>
	</td>
</tr>
<% } %>
</table>
