<h2>Girls registered for camp:</h2>
<table class="table table-striped table-bordered">
<tr>
	<th>Girl</th>
	<th>Rank</th>
	<th>Dietary Restrictions</th>
	<th>Gluten Restriction</th>
</tr>
<% current_user.girls.each { |x| %>
<tr>
	<td>
	<h4><%= "#{x.first_name} #{x.last_name}" %></h4>
	</td>
	<td>
	<h4><%= "#{x.level.name}" %></h4>
	</td>
	<td>
	<h4><%= "#{x.dietary}" %></h4>
	</td>
	<td>
	<h4><%= "#{x.no_gluten ? "Yes" : "No"}" %></h4>
	</td>
</tr>
<% } %>
<%= link_to "Register another Girl", new_girl_path, class: "btn btn-success" %>