<div class="row main_banner">
	<div class="col-md-10">
		<h1 class="main_banner_text", id="summer_camp_marengo">AHG Summer Camp Marengo 2015</h1>
	</div>
	<div class="col-md-2">
		<div class="login_signup">
			<% if user_signed_in? %>
				<% if current_user.is_admin %>
					<%= link_to "Admin", admin_path, class: "btn btn-default login-buttons" %>
				<% end %>
				<%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-default login-buttons" %>
			<% else %>
				<%= link_to "Login", new_user_session_path, class: "btn btn-default login-buttons" %>
				<%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-default login-buttons" %>
			<% end %>
		</div>
	</div>
</div>
<div class="row login_row">
	<div class="col-md-10">
		<h2 class="main_banner_text">Summer Camp Registration Site</h2>
	</div>

	<div class="col-md-2">
	<% if user_signed_in? %>
		<%= "You are #{current_user.email}" %>
		<%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-default rightshift-button" %>
	<% end %>
	</div>
</div>