<div class="parentblock">
	<h2><%=	"#{current_user.first_name} #{current_user.last_name}" %></h2>
	<h4><%= "Troop: #{current_user.troop_number}" %></h4>
	<h4><%= "Phone: #{current_user.phone}" %></h4>
	<h4><%= "CPR trained?  #{current_user.cpr? ? "Y" : ""}" %></h4>
	<h4><%= "First aid trained?  #{current_user.cpr? ? "Y" : ""}" %></h4>
</div>