<div class="parentblock">
	<h2><%=	"#{current_user.first_name} #{current_user.last_name}" %></h2>
	<h3><%= "Troop: #{current_user.troop_number}" %></h3>
	<h3><%= "Phone: #{current_user.phone}" %></h3>
	<h3><%= "CPR trained?  #{current_user.cpr? ? "Y" : ""}" %>
	<h3><%= "First aid trained?  #{current_user.cpr? ? "Y" : ""}" %>
</div>