<div class="parentblock">
	<% unless current_user.adult %>
		<h3>(You have not registered an adult for Greater Than Rubies Summer Camp 2016.)</h3>
		<%= link_to "Register Adult to Attend", new_adult_path, class: "btn btn-success" %>
	<% else %>
		<% the_adult = current_user.adult %>
		<h3>You are Attending Greater Than Rubies Summer Camp 2016!</h3>
		<div id="attendeeinfo" class="well">
			<h3><strong><%=	"#{the_adult.first_name} #{the_adult.last_name}" %></strong></h3>
			<div class="row">
				<div class="col-md-6">
					<strong><%= "Phone:" %></strong>  <%= " #{the_adult.phone}" %><br />
					<strong><%= "Mailing address:" %></strong>  <%= " #{the_adult.address}" %> <br />
					<strong><%= "Troop:" %></strong>  <%= " #{the_adult.troopnumber}" %><br />
					<strong><%= "Troop Coordinator's Name:" %></strong>  <%= " #{the_adult.troopcontact}" %><br />
					<strong><%= "Troop Coordinator's Email:" %></strong>  <%= " #{the_adult.troopcontact_email}" %><br />
					<strong><%= "Dietary restrictions:" %></strong>  <%= " #{the_adult.dietary}" %><br />
				</div>
				<div class="col-md-6">
					<strong><%= "Staying half the week?" %></strong>  <%= "#{the_adult.halfweek? ? "Y" : "N"}" %><br />
					<strong><%= "CPR trained?" %></strong>  <%= "  #{the_adult.cpr? ? "Y" : "N"}" %><br />
					<strong><%= "First aid trained?" %></strong>  <%= "  #{the_adult.cpr? ? "Y" : "N"}" %><br />
					<strong><%= "T-shirt size:" %></strong>  <%= " #{the_adult.tshirt.nil? ? '?' : the_adult.tshirt.name}" %><br />
					<strong><%= "Helping With:" %></strong>  <%= " #{the_adult.sessions.first.name}" %><br />
				</div>
			</div>
		</div>
		<p>
		<%= link_to "Cancel Adult Registration", adult_path(the_adult), method: :delete, data: { confirm: "Are you certain you want to cancel your registration?" }, class: "btn btn-danger" %>
		</p>
	<% end %>
</div>
