<div class="parentblock">
	<h3><%=	"#{current_user.first_name} #{current_user.last_name}" %></h3>
	<%= "Troop: #{current_user.troop_number}" %><br />
	<%= "Phone: #{current_user.phone}" %><br />
	<%= "Mailing address: #{current_user.address}" %><br />
	<% unless current_user.attending %>
		<h3>Not attending camp</h3>
	<% else %> 
		<h3>Attending Marengo 2015</h3>
		<h4><%= "CPR trained?  #{current_user.cpr? ? "Y" : ""}" %></h4>
		<h4><%= "First aid trained?  #{current_user.cpr? ? "Y" : ""}" %></h4>
	<% end %>
</div>
