<% ["A","B","C","D"].each { |this_slot| %>
	<h5>Time Slot <%= this_slot %></h5>
	<% sessions = Session.where(slot:Slot.where(name:this_slot).first).all %>
	<% sessions.each { |session| %>
		<em><%= "#{session.name} (#{session.level.name})" %></em>
		<table class="table table-striped table-bordered">
			<tr>
				<% ["Girl", "Level", "Troop"].each { |caption| %>
					<th><%= caption.to_s %></th>
				<% } %>
			</tr>
			<% session.girls.each { |y| %>
				<tr>
					<td>
						<%= "#{y.first_name} #{y.last_name}" %>
					</td>
					<td>
						<%= "#{y.level.name}" %>
					</td>
					<td>
						<%= "#{y.troopnumber}" %>
					</td>
				</tr>
			<% } %>
		</table>
	<% } %>
<% } %>
