<div class="row">
	<div class="col-md-10 col-md-offset-1 buttons_row reports_box">
		<h3>Downloadable Reports</h3>
		<%= render "reports" %>
		<%= link_to 'Back to Main Page', home_path, class: "btn btn-primary" %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h4><%= Adult.all.count %> Registered Adults</h4>
		<%= render "adults_listing" %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h4><%= Girl.all.count %> Registered Girls</h4>
		<%= render "girl_table", admin_display:true %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Sessions Signups</h3>
		<%= render "sessions_table", admin_display:true %>
	</div>
</div>
