<div class="row">
	<div class="col-md-10 col-md-offset-2 buttons_row">
		<%= link_to 'Session Sign-ups', csv_sessions_path(format: :csv), class: "btn btn-info" %>
		<%= link_to 'Download List of Girls', csv_girls_path(format: :csv), class: "btn btn-info" %>
		<%= link_to 'Download List of Adults', csv_adults_path(format: :csv), class: "btn btn-info" %>
		<%= link_to 'Back to Main Page', root_path, class: "btn btn-primary" %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h4><%= Adult.all.count %> Registered Adults</h4>
		<%= render "adults_listing" %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h4><%= Girl.all.count %> Registered Girls</h4>
		<%= render "girl_table", admin_display:true %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Sessions Signups</h3>
		<%= render "sessions_table", admin_display:true %>
	</div>
</div>
