<script type="text/javascript">

$('document').ready(function(){

	$("#tenderheart_disclaimer").hide();
	$("#hiking_note").hide();

	//i = $("#girl_level_id option:selected").text();
	i = <% @girl.level.name %>

	if (i == "Tenderheart"){
		$("#session-choosing").hide();
		$("#tenderheart_disclaimer").show();
	}

	i = $("#session_B_id option:selected").text();
	if (i == "Outdoor Skills/Backpacking"){
		$("#hiking_note").show();
		$('#session_C_id').attr('disabled', 'disabled');
	}

	$("#girl_level_id").change(function(){
		i = $("#girl_level_id option:selected").text();
		if (i != "Tenderheart"){
			$("#tenderheart_disclaimer").hide();
			$("#session-choosing").slideDown();
		}
		else{
			$("#tenderheart_disclaimer").show();
			$("#session-choosing").slideUp();
		}
	});

	$("#session_B_id").change(function(){
		console.log("session B was selected");
		i = $("#session_B_id option:selected").text();
		console.log("selected:" + i);
		if (i == "Outdoor Skills/Backpacking"){
			console.log("triggered");
			j = $("#session_C_id option:selected").val();
			console.log("C was: " + j);
			$("#hiking_note").show();
			$("#session_C_id").val("9"); // Session C Outdoor Backpacking = 9
			$('#session_C_id').attr('disabled', 'disabled');
		}
		else{

			i = $("#session_C_id option:selected").text();
			if (i == "Outdoor Skills/Backpacking"){
				$("#hiking_note").hide();
				$("#session_C_id").val("10"); // Session C Bible Basics = 10
				$('#session_C_id').removeAttr('disabled');
			}
		}
	});

	$("#session_C_id").change(function(){
		console.log("session B was selected");
		i = $("#session_C_id option:selected").text();
		console.log("selected:" + i);
		if (i == "Outdoor Skills/Backpacking"){
			console.log("triggered");
			j = $("#session_B_id option:selected").val();
			console.log("B was: " + j);
			$("#hiking_note").show();
			$("#session_B_id").val("4"); // Session B Outdoor Backpacking = 4
			$('#session_C_id').attr('disabled', 'disabled');
		}
	});
});

function validateCheckbox()
{
    if( $('#girl_high_ropes').is(':checked') == false){
      alert("You must acknowledge that you are signing up to pay camp registration for this girl in full, and that no refunds can be given for camp registration.");
			return false;
    }
}
</script>
<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<%= form_for @girl do |g| %>
			<%= g.label :first_name %>:
			<%= g.text_field :first_name, placeholder: "Jane" %>
			<%= g.label :last_name %>:
			<%= g.text_field :last_name, placeholder: "Scout" %><br>
			<%= g.label :troopnumber, "Troop Number (with state)" %><br />
			<%= g.text_field :troopnumber, placeholder: "OH0001" %><br>
			<%= g.label :dob, "Date of Birth" %><br />
			<%= g.text_field :dob, placeholder: "01/01/2008" %><br>
			<%= g.label :fallgrade, "What school grade will girl be in fall?" %><br />
			<%= g.text_field :fallgrade, placeholder: "3" %><br>
			<%= g.label :dietary, "Please list any dietary restrictions:" %><br />
			<%= g.text_field :dietary %><br>
			<%= g.label :no_gluten, "Gluten sensitivity?" %>
			<%= g.check_box :no_gluten %><br>
			<%= g.label :medications, "Will girl be checking in medications with nurse on arrival?" %>
			<%= g.check_box :medications %><br>
			<%= g.label :horseback, "Will this girl be participating in horseback riding (additional $35.00 fee will apply)?" %>
			<%= g.check_box :horseback %><br>
			<%= g.label :parentcell, "Parent's Phone Number" %><br />
			<%= g.text_field :parentcell, placeholder: "(740) 555-5555" %><br>
			<%= g.label :othercell, "Alternate Phone Number" %><br />
			<%= g.text_field :othercell, placeholder: "(740) 555-5556" %><br>
			<br />
			<p>
			<%= g.label :tshirt_id, "T-Shirt Size" %>
			<%= g.select(:tshirt_id, options_from_collection_for_select(Tshirt.all, :id, :name, @girl.tshirt_id)) %>
			</p>
			<% if @girl.level.name != "Tenderheart" %>
			<div id="session-choosing">
				<p>
					<h4>Badge Sessions</h4>
					<%= g.label :session_A_id, "Session A:" %>
					<%= select_tag(:session_A_id, options_from_collection_for_select(appropriate_sessions_for_level(@girl.level, "A"), :id, :name)) %><br/>
					<%= g.label :session_B_id, "Session B:" %>
					<%= select_tag(:session_B_id, options_from_collection_for_select(appropriate_sessions_for_level(@girl.level, "B"), :id, :name)) %><br/>
					<%= g.label :session_C_id, "Session C:" %>
					<%= select_tag(:session_C_id, options_from_collection_for_select(appropriate_sessions_for_level(@girl.level, "C"), :id, :name)) %><br/>
					<%= g.label :session_D_id, "Session D:" %>
					<%= select_tag(:session_D_id, options_from_collection_for_select(appropriate_sessions_for_level(@girl.level, "D"), :id, :name)) %><br/>
				</p>
				<% else %>
				<p class="disclaimer" id="tenderheart_disclaimer">
						All Tenderhearts will follow a pre-set camp schedule.
				</p>
				<% end %>

				<strong>
					<%= g.label :high_ropes, "I acknowledge that I am signing up to pay camp registration for this girl in full, and that no refunds can be given for camp registration:" %>
					<%= g.check_box :high_ropes %><br>
				</strong>
			</div>
			<p>
				<%= hidden_field_tag "level", @girl.level.id %>
				<%= g.submit "Save Registration", onclick: "validateCheckbox();", class: "btn btn-success", params: {zippy: "Pinhead"} %>
				<%= link_to "Cancel", root_path, class: "btn btn-warning" %>
			</p>
		<% end %>
	</div>
</div>
