<script type="text/javascript">

$('document').ready(function(){

	$("#tenderheart_disclaimer").hide();
	$("#hiking_note").hide();

	i = $("#girl_level_id option:selected").text();
	if (i == "Tenderheart"){
		$("#session-choosing").hide();
		$("#tenderheart_disclaimer").show();
	}

	i = $("#session_B_id option:selected").text();
	if (i == "Outdoor Skills/Backpacking"){
		$("#hiking_note").show();
		$('#session_C_id').attr('disabled', 'disabled');
	}

	$("#girl_level_id").change(function(){
		i = $("#girl_level_id option:selected").text();
		if (i != "Tenderheart"){
			$("#tenderheart_disclaimer").hide();
			$("#session-choosing").slideDown();
		}
		else{
			$("#tenderheart_disclaimer").show();
			$("#session-choosing").slideUp();
		}
	});

	$("#session_B_id").change(function(){
		console.log("session B was selected");
		i = $("#session_B_id option:selected").text();
		console.log("selected:" + i);
		if (i == "Outdoor Skills/Backpacking"){
			console.log("triggered");
			j = $("#session_C_id option:selected").val();
			console.log("C was: " + j);
			$("#hiking_note").show();
			$("#session_C_id").val("9"); // Session C Outdoor Backpacking = 9
			$('#session_C_id').attr('disabled', 'disabled');
		}
		else{

			i = $("#session_C_id option:selected").text();
			if (i == "Outdoor Skills/Backpacking"){
				$("#hiking_note").hide();
				$("#session_C_id").val("10"); // Session C Bible Basics = 10
				$('#session_C_id').removeAttr('disabled');
			}
		}
	});

	$("#session_C_id").change(function(){
		console.log("session B was selected");
		i = $("#session_C_id option:selected").text();
		console.log("selected:" + i);
		if (i == "Outdoor Skills/Backpacking"){
			console.log("triggered");
			j = $("#session_B_id option:selected").val();
			console.log("B was: " + j);
			$("#hiking_note").show();
			$("#session_B_id").val("4"); // Session B Outdoor Backpacking = 4
			$('#session_C_id').attr('disabled', 'disabled');
		}
	});
});

function validateCheckbox()
{
    if( $('#girl_high_ropes').is(':checked') == false){
      alert("You must acknowledge that you are signing up to pay camp registration for this girl in full, and that no refunds can be given for camp registration.");
			return false;
    }
}
</script>
<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<%= form_for @girl do |g| %>
			<%= g.label :first_name %>:
			<%= g.text_field :first_name %>
			<%= g.label :last_name %>:
			<%= g.text_field :last_name %><br>
			<%= g.label :troopnumber, "Troop Number" %><br />
			<%= g.text_field :troopnumber %><br>
			<%= g.label :dob, "Date of Birth" %><br />
			<%= g.text_field :dob %><br>
			<%= g.label :fallgrade, "What school grade will girl be in fall? (Ex.: 4)" %><br />
			<%= g.text_field :fallgrade %><br>
			<%= g.label :dietary, "Please list any dietary restrictions:" %><br />
			<%= g.text_field :dietary %><br>
			<%= g.label :no_gluten, "Gluten sensitivity?" %>
			<%= g.check_box :no_gluten %><br>
			<%= g.label :medications, "Will girl be checking in medications with nurse on arrival?" %>
			<%= g.check_box :medications %><br>
			<%= g.label :parentcell, "Parent's Phone Number" %><br />
			<%= g.text_field :parentcell %><br>
			<%= g.label :othercell, "Alternate Phone Number" %><br />
			<%= g.text_field :othercell %><br>
			<br />
			<p>
			<%= g.label :level_id, "Level" %>
			<%= g.select(:level_id, options_from_collection_for_select(Level.all, :id, :name, @girl.level_id)) %>
			<%= g.label :tshirt_id, "T-Shirt Size" %>
			<%= g.select(:tshirt_id, options_from_collection_for_select(Tshirt.all, :id, :name, @girl.tshirt_id)) %>
			</p>
			<p class="disclaimer" id="tenderheart_disclaimer">
					All Tenderhearts will follow a pre-set camp schedule.
			</p>
			<div id="session-choosing">
				<p>
					<%= g.label :session_A_id, "Session A (Morning):" %>
					<%= select_tag(:session_A_id, options_from_collection_for_select(Session.where(slot:Slot.find_by(name:"A")), :id, :name, @girl.session_A_id)) %><br/>
					<%= g.label :session_B_id, "Session B (Morning):" %>
					<%= select_tag(:session_B_id, options_from_collection_for_select(Session.where(slot:Slot.find_by(name:"B")), :id, :name, @girl.session_B_id)) %><br />
					<%= g.label :session_C_id, "Session C (Morning):" %>
					<%= select_tag(:session_C_id, options_from_collection_for_select(Session.where(slot:Slot.find_by(name:"C")), :id, :name, @girl.session_C_id)) %><span id="hiking_note" class="disclaimer">   (Outdoor Skills/Backpacking lasts through both Sessions B and C.)</span><br />
					<%= g.label :session_D_id, "Session D (Afternoon):" %>
					<%= select_tag(:session_D_id, options_from_collection_for_select(Session.where(slot:Slot.find_by(name:"D")), :id, :name, @girl.session_D_id)) %><br />
				</p>
				<strong>
					<%= g.label :high_ropes, "I acknowledge that I am signing up to pay camp registration for this girl in full, and that no refunds can be given for camp registration." %>
					<%= g.check_box :high_ropes %><br>
				</strong>
			</div>
			<p>
				<%= g.submit "Save Registration", onclick: "validateCheckbox();", class: "btn btn-success" %>
				<%= link_to "Cancel", root_path, class: "btn btn-warning" %>
			</p>
		<% end %>
	</div>
</div>
