<script type="text/javascript">

$('document').ready(function(){
	var i = $('#levelname').text().trim();

	$("#tenderheart_disclaimer").hide();
	$("#horseback").hide();
	$("#kayaking").hide();

	//i = $("#girl_level_id option:selected").text();

	if (i == "Tenderheart"){
		$("#session-choosing").hide();
		$("#tenderheart_disclaimer").show();
		console.log("displaying Tenderheart disclaimer");
	}

	if (i == "Explorer"){
		$("#horseback").show();
	}

	if (i == "Pioneer/Patriot"){
		$("#horseback").show();
		$("#kayaking").show();
	}
});

</script>
<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<span id="levelname" style="display:none">
			<%= @girl.level.name %>
		</span>
		<%= form_for @girl do |g| %>
			<%= g.label :first_name %>:
			<%= g.text_field :first_name, placeholder: "Jane" %>
			<%= g.label :last_name %>:
			<%= g.text_field :last_name, placeholder: "Camper" %><br>
			<%= g.label :troopnumber, "Troop Number (with state)" %><br />
			<%= g.text_field :troopnumber, placeholder: "OH0001" %><br>
			<%= g.label :dob, "Date of Birth" %><br />
			<%= g.text_field :dob, placeholder: "01/01/2008" %><br>
			<%= g.label :fallgrade, "What school grade will girl be in fall?" %><br />
			<%= g.text_field :fallgrade, placeholder: "K" %><br>
			<%= g.label :dietary, "Please list any dietary restrictions:" %><br />
			<%= g.text_field :dietary %><br>
			<%= g.label :medications, "Will girl be checking in medications with nurse on arrival?" %>
			<%= g.check_box :medications %><br>
			<p class="extra_feature" id="horseback">
				<%= g.label :horseback, "Will this Explorer or Pioneer/Patriot be participating in Horse Experience (additional $20.00 fee will apply)?" %>
				<%= g.check_box :horseback %><br>
			</p>
			<p class="extra_feature" id="kayaking">
				<%= g.label :kayaking, "Will this Pioneer/Patriot be participating in kayaking (additional $20.00 fee will apply)?" %>
				<%= g.check_box :kayaking %><br>
				<em>Please note that any girl participating in Kayaking <strong>must</strong> already have the Canoeing badge.</em>
			</p>
			<%= g.label :parentcell, "Parent's Phone Number" %><br />
			<%= g.text_field :parentcell, placeholder: "(740) 555-5555" %><br>
			<%= g.label :othercell, "Alternate Phone Number" %><br />
			<%= g.text_field :othercell, placeholder: "(740) 555-5556" %><br>
			<br />
			<p>
			<%= g.label :tshirt_id, "T-Shirt Size" %>
			<%= g.select(:tshirt_id, options_from_collection_for_select(Tshirt.all, :id, :name, @girl.tshirt_id)) %>
			</p>
			<% if @girl.level.name != "Tenderheart" %>
			<div id="session-choosing">
				<p>
					<h4>Badge Sessions</h4>
					<%= g.label :session_A_id, "Session A:" %>
					<%= select_tag(:session_A_id, options_from_collection_for_select(appropriate_sessions_for_level(@girl.level, "A"), :id, :name)) %><br/>
					<%= g.label :session_B_id, "Session B:" %>
					<%= select_tag(:session_B_id, options_from_collection_for_select(appropriate_sessions_for_level(@girl.level, "B"), :id, :name)) %><br/>
					<%= g.label :session_C_id, "Session C:" %>
					<%= select_tag(:session_C_id, options_from_collection_for_select(appropriate_sessions_for_level(@girl.level, "C"), :id, :name)) %><br/>
					<%= g.label :session_D_id, "Session D:" %>
					<%= select_tag(:session_D_id, options_from_collection_for_select(appropriate_sessions_for_level(@girl.level, "D"), :id, :name)) %><br/>
					<p><h5><em>Please note that any girl signing up for Canoeing <strong>must</strong> be able to pass the camp's swim test.</em></h5></p>
					<p><h5><em>Please note that any girl signing up for Outdoor Cooking <strong>must</strong> have her Fire Safety and Building badge, or take it at camp.</em></h5></p>
				</p>
				<% else %>
				<p class="disclaimer" id="tenderheart_disclaimer">
						All Tenderhearts will follow a pre-set camp schedule.
				</p>
				<% end %>
				<%= g.label :release, "I consent to the use of my child's photograph for future camp promotional materials." %>
				<%= g.check_box :release %><br>
			</div>
			<p>
				<%= hidden_field_tag "level", @girl.level.id %>
				<%= g.submit "Save Registration", class: "btn btn-success", params: {zippy: "Pinhead"} %>
				<%= link_to "Cancel", home_path, class: "btn btn-warning" %>
			</p>
		<% end %>
	</div>
</div>
