<%= form_for @girl do |g| %>
	<%= g.label :first_name %>:
	<%= g.text_field :first_name %>
	<%= g.label :last_name %>:
	<%= g.text_field :last_name %><br>
	<%= g.label "Troop Number" %><br />
	<%= g.text_field :troopnumber %><br>
	<%= g.label "Date of Birth" %><br />
	<%= g.text_field :dob %><br>
	<%= g.label "What school grade will girl be in fall?" %><br />
	<%= g.text_field :fallgrade %><br>
	<%= g.label "Please list any dietary restrictions:" %><br />
	<%= g.text_field :dietary %><br>
	<%= g.label "Parent's Phone Number" %><br />
	<%= g.text_field :parentcell %><br>
	<%= g.label "Alternate Phone Number" %><br />
	<%= g.text_field :othercell %><br>
	<%= g.label "Level" %>
	<%= select_tag(:level_id, options_from_collection_for_select(Level.all, :id, :name)) %>
	<%= g.label "T-Shirt Size" %>
	<%= select_tag(:tshirt_id, options_from_collection_for_select(Tshirt.all, :id, :name)) %>
<p>
	<%= g.submit "Register Girl", class: "btn btn_default btn_success" %>
</p>
	<%= link_to "Cancel", :root, class: "btn btn_default" %>
<% end %>