<!DOCTYPE html>
<html>
<head>
  <title>Registration for Scout Camp Scioto 2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "static_pages/headbanner" %>

<div class="row" id="flash_row">
	<% if notice %>
	       <p class="notice"><%= notice %></p>
	<% end %>
	<% if alert %>
	       <p class="alert"><%= alert %></p>
	<% end %>
 </div>

<%= yield %>

<%= render "static_pages/footer_matter" %>

</body>
</html>
